<div class="col-md-10 ">
	
    <div class="list-wrapper">
    	<div class="header-message">Choisissez vos Chaussures
    	</div>
    	{% for choose in elements.chooses %}
    	<div class="row">
    		{{choose}}
    	</div>
    	{% endfor %}
    </div>
</div>